.cards {
  margin-top: 64px;
  display: flex;
  justify-content: space-between;
  gap: 8px;
  overflow: hidden;

  @include laptop-md {
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    margin: 64px auto 0;
  }

  @include mobile-m {
    margin-top: 21px;
  }
}
.card {
  position: relative;
  flex-basis: 33.33%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 24px;
  min-height: 784px;

  border-radius: 20px;
  background: var(--desktop-white);
  cursor: pointer;
  transition: var(--transition-default);
  overflow: hidden;

  @include desktop-alt {
    min-height: unset;
  }

  @include mobile-l {
    border-radius: 10px;
  }

  @include mobile-m {
    padding-bottom: 12px;
    gap: 28px;
  }

  &:hover,
  &:focus {
    background: var(--desktop-black);

    .card__title {
      color: var(--desktop-white);
    }

    .card__text {
      color: var(--desktop-white);
    }

    .card__image {
      transform: translateY(-74px);
    }

    .card__content {
      transform: translateY(-96px);
    }

    .card__button {
      bottom: 24px;
      opacity: 1;
    }
  }

  &__image {
    border-radius: 20px;
    transition: var(--transition-default);

    @include mobile-l {
      border-radius: 10px;
    }
  }

  &__content {
    padding: 0 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    transition: var(--transition-default);
    position: relative;

    @include mobile-m {
      gap: 8px;
      padding: 0 12px;
    }
  }

  &__title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 32px;
    line-height: 130%;
    text-transform: uppercase;
    color: var(--desktop-black);

    @include mobile-m {
      font-size: 20px;
    }
  }

  &__text {
    max-width: 440px;

    font-family: var(--second-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: var(--desktop-black);

    @include mobile-m {
      font-size: 14px;
    }
  }

  &__button {
    position: absolute;
    bottom: -48px;
    opacity: 0;
    left: 24px;
    width: calc(100% - 48px);

    border-radius: 16px;
    flex-basis: 100%;
    background: var(--desktop-primary-orange);
    transition: var(--transition-default);
  }

  &__link {
    display: block;
    padding: 20px 24px;

    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    text-transform: uppercase;
    color: var(--desktop-white);

    @include mobile-m {
      padding: 16px 20px;

      font-size: 14px;
    }

    &-icon {
      position: absolute;
      right: 24px;
      top: 50%;
      transform: translateY(-50%);
      transition: var(--transition-default);
    }
  }

  &.card--ball {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    overflow: hidden;
  }

  &--ball {
    @include mobile-m {
      min-height: 446px;
    }

    .card__image {
      position: absolute;
      top: -108px;
      right: -188px;

      @include laptop-md {
        top: unset;

        position: relative;
        margin-top: -108px;
        right: -188px;
      }

      @include mobile-m {
        margin-top: -47px;
        right: -77px;
      }
    }

    .card__content {
      margin-top: auto;
      width: 100%;
    }

    .card__title {
      white-space: pre-line;
    }
  }

  &--tournaments {
    .card__title {
      white-space: pre-line;
    }

    .card__text {
      max-width: 425px;
    }
  }
}
