.nav {
  &__list {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  &__item {
  }

  &__link {
    font-family: "Druk Wide Cyr", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 140%;
    text-transform: uppercase;
    color: var(--desktop-black);
  }
}
.header {

  &__item {
  }
}
