.qr-card {
  width: 352px;
  position: absolute;
  top: 64px;
  right: 14vw;
  z-index: 10;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;

  padding: 44px;
  border-radius: 30px;
  background: var(--desktop-white);

  &__image {
  }

  &__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }

  &__devices {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    color: var(--desktop-grey-400);
  }

  &__text {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 14px;
    line-height: 140%;
    text-transform: uppercase;
    text-align: center;
    color: var(--desktop-black);
  }
}
