.selection {
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 62px;

  border-radius: 14px;
  background: var(--desktop-primary-green);

  @include mobile-l {
    border-radius: 10px;
  }

  @include mobile-m {
    padding: 12px;
  }
  
  &__title {
    max-width: 880px;

    font-family: var(--font-family);
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
    text-transform: uppercase;
    color: var(--desktop-white);

    @include laptop-md {
      font-size: 36px;
    }

    @include mobile-m {
      font-size: 20px;
      line-height: 130%;
      max-width: 75%;
    }
  }

  &__buttons {
    max-width: 545px;
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
  }

  &__btn {
    width: fit-content;
    padding: 7px 12px 8px 12px;
    border-radius: 39px;
    background: var(--desktop-white-20);

    font-family: var(--font-family);
    font-weight: 700;
    font-size: 12px;
    line-height: 140%;
    text-transform: uppercase;
    color: var(--desktop-white);

    @include mobile-m {
      padding: 6px 12px;
      font-size: 10px;
    }

    &:last-child {
      background: var(--desktop-white);
      color: var(--desktop-primary-green);
    }
  }
}
