.title-main {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 80px;
  line-height: 120%;
  text-transform: uppercase;
  color: var(--desktop-black);

  @include laptop-l {
    font-size: 48px;
  }

  @include mobile-m {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 26px;
    line-height: 120%;
    text-transform: uppercase;
    color: var(--desktop-black);
  }

  &--hero {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 80px;
    line-height: 120%;
    text-transform: uppercase;
    color: var(--desktop-white);

    @include laptop-l {
      font-size: 48px;
    }

    @include mobile-m {
      font-family: var(--font-family);
      font-weight: 700;
      font-size: 26px;
      line-height: 120%;
      text-transform: uppercase;
      color: var(--desktop-white);
    }
  }
}

.title-second {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  text-transform: uppercase;
  color: var(--desktop-black);

  @include laptop-l {
    font-size: 36px;
  }

  @include mobile-m {
    font-size: 20px;
    line-height: 130%;
  }
}