html {
	scroll-behavior: smooth;
}

body {
  background: var(--desktop-grey-100);

  background-image: url("../img/basketball-ball-bg.png");
  background-size: auto;
  background-position: bottom 0 right 0;
  background-repeat: no-repeat;

  @include tablet {
    background-size: 70%;
  }

  @include mobile-m {
    background-image: url("../img/basketball-ball-bg-mobile.png");
    background-size: auto;
    background-position: bottom 59px right 0;
    background-repeat: no-repeat;
  }
}
