@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

@font-face {
  font-family: 'Druk Wide Cyr';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Druk/DrukWideCyr-Bold.woff") format('woff'),
  url("../fonts/Druk/DrukWideCyr-Bold.woff2") format('woff2');
};

