:root {
	--wrapper-padding: 20px;

	--desktop-primary-orange: #f36722;
	--desktop-hover-orange: #ff8b3d;
	--desktop-pressed-orange: #dc4f00;
	--desktop-primary-blue: #2d69c2;
	--desktop-hover-blue: #5d94e7;
	--desktop-pressed-blue: #1652ac;
	--desktop-primary-green: #2e8d43;
	--desktop-green-hover: #6ec782;
	--desktop-pressed-green: #0a7421;
	--desktop-background: #efefef;
	--desktop-white: #fff;
	--desktop-grey-50: #fafafa;
	--desktop-grey-100: #ececec;
	--desktop-grey-200: #c4c4c4;
	--desktop-grey-300: #a1a1a1;
	--desktop-grey-400: #747474;
	--desktop-grey-500: #404040;
	--desktop-black: #202020;
	--desktop-white-50: rgba(255, 255, 255, 0.5);
	--desktop-white-20: rgba(255, 255, 255, 0.2);
	--desktop-white-10: rgba(255, 255, 255, 0.1);
	--desktop-red-negative: #fa3015;
	--app-white: #fff;
	--app-orange: #f36722;
	--app-black: #202020;
	--app-graytext: #bdbdbd;
	--app-graybg: #e8e8e8;
	--app-graystroke: #dcdcdc;
	--app-greenaccept: #6ec782;

  --font-family: "Druk Wide Cyr", sans-serif;
  --second-family: "Inter", sans-serif;
  --third-family: "Benzin-Bold", sans-serif;
  --font3: "Biryani", sans-serif;
  --font4: "Bion", sans-serif;
  --font5: "Montserrat", sans-serif;
  --font6: "Commissioner", sans-serif;

	--mobile-size: 320px;
}