<div class="cards">
  <div class="card">
    <img src="img/card-image-1.png" alt="children playing basketball" class="card__image">
    <h3 class="card__title">Найди себе
      команду</h3>
    <p class="card__text">Игры на районе - это возможность найти с кем поиграть в баскетбол в выходные, или создать свою игру и пригласить других игроков присоединиться.</p>
  </div>
  <div class="card">
    <img src="img/card-image-2.png" alt="basketball ball" class="card__image">
    <h3 class="card__title">Создавай
      команды</h3>
    <p class="card__text">Игры на районе - это возможность найти с кем поиграть в баскетбол в выходные, или создать свою игру и пригласить других игроков присоединиться.</p>
  </div>
  <div class="card">
    <img src="img/card-image-3.png" alt="playing basketball" class="card__image">
    <h3 class="card__title">Участвуй
      в турнирах</h3>
    <p class="card__text">Участвуйте в турнирах вместе с вашей командой. Будьте активными, побеждайте и получайте ачивки
      и призы от наших спонсоров.</p>
  </div>
</div>