<div class="cards">
  <div class="card">
    <img src="img/card-image-1.png" alt="children playing basketball" class="card__image">
    <div class="card__content">
      <h3 class="card__title">Найди себе
        команду</h3>
      <p class="card__text">
        Игры на районе - это возможность найти с кем поиграть в баскетбол в выходные, или создать свою игру и пригласить других игроков присоединиться.
      </p>
    </div>
    <div class="card__button">
      <a href="#" class="card__link btn-main">текст кнопки</a>
      <svg class="card__link-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M12.3553 4V8.28571H1V14.7143H12.3553V19L23 11.5L12.3553 4Z" fill="white" />
      </svg>
    </div>
  </div>
  <div class="card card--ball">
    <img src="img/card-image-2.png" alt="basketball ball" class="card__image">
    <div class="card__content">
      <h3 class="card__title">Создавай
        команды</h3>
      <p class="card__text">
        Игры на районе - это возможность найти с кем поиграть в баскетбол в выходные, или создать свою игру и пригласить других игроков присоединиться.
      </p>
    </div>
    <div class="card__button">
      <a href="#" class="card__link btn-main">текст кнопки</a>
      <svg class="card__link-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M12.3553 4V8.28571H1V14.7143H12.3553V19L23 11.5L12.3553 4Z" fill="white" />
      </svg>
    </div>
  </div>
  <div class="card card--tournaments">
    <img src="img/card-image-3.png" alt="playing basketball" class="card__image">
    <div class="card__content">
      <h3 class="card__title">Участвуй
        в турнирах</h3>
      <p class="card__text">
        Участвуйте в турнирах вместе с вашей командой. Будьте активными, побеждайте и получайте ачивки
        и призы от наших спонсоров.
      </p>
    </div>
    <div class="card__button">
      <a href="#" class="card__link btn-main">текст кнопки</a>
      <svg class="card__link-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M12.3553 4V8.28571H1V14.7143H12.3553V19L23 11.5L12.3553 4Z" fill="white" />
      </svg>
    </div>
  </div>
</div>