<div class="study-cards">
  <div class="study-card study-card--video-lessons">
    <h4 class="study-card__title">Видеоуроки</h4>
    <div class="study-card__content">
      <img src="img/study-card-image.png" alt="playing basketball" class="study-card__image">
      <div class="study-card__description">
        <p class="study-card__text">Евгений Воронов: «Бронзовые медали - оценка труда нашей команды»</p>
        <p class="study-card__date">26 октября</p>
      </div>
    </div>
  </div>
  <div class="study-card study-card--articles">
    <h4 class="study-card__title">статьи</h4>
    <div class="study-card__content">
      <p class="study-card__text">Евгений Воронов: «Бронзовые медали - оценка труда нашей команды»</p>
      <p class="study-card__date">26 октября</p>
    </div>
  </div>
  <div class="study-card study-card--terms">
    <h4 class="study-card__title">термины</h4>
    <div class="study-card__content">
      <p class="study-card__date">треха</p>
      <p class="study-card__date">трехочковый бросок</p>
      <p class="study-card__date">36 терминов</p>
    </div>
  </div>
</div>