.game {
  margin-top: 120px;

  @include laptop-l {
    margin-top: 90px;
  }

  @include mobile-m {
    margin-top: 42px;
  }

  &__container {
  }

  &__top {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  &__title {
    
  }

  &__link {
    margin-bottom: 11px;
    display: flex;
    align-items: flex-end;
    gap: 12px;

    @include mobile-m {
      margin-bottom: 0;
    }

    &-icon {
      @include mobile-m {
        display: none;
      }

      path {
        fill: var(--desktop-primary-orange);
      }
    }
  }
}
.container {
}
.title-main {
}
.to-section-link {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  text-transform: uppercase;
  color: var(--desktop-primary-orange);

  @include mobile-m {
    font-size: 14px;
  }
}
